.headerOption {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    color: gray;
    cursor: pointer;
    font-size: 10px;
}

.headerOption__icon {
  object-fit: contain;
  height: 20px !important;
  width: 20px !important;
}

.headerOption:hover {
    color: black;
}

